body {
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    margin-bottom: 1rem;
}

input {
    flex-grow: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

button {
    background-color: #ff3131;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

li {
    background-color: #f8f9fa;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    background-color: #dc3545;
    color: white;
    margin-left: 0.5rem;
}